---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign posts = site.posts %}
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% endif %}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div class="post-excerpt">
          <img class="post-image" src="{{ post.image }}"/>
          <div class="post-summary">
            <p>
                {{ post.excerpt }}
            </p>
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate and paginator.total_pages %}
    <div class="pagination">
      <div class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">&laquo; Anterior</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Siguiente &raquo;</a>
      {% endif %}
    </div>
    {% endif %}

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%}

</div>